.CodeMirror-hints,
.CodeMirror-hints * {
  padding: 0;
  margin: 0;
}

.CodeMirror-hints ul {
	list-style-type: none;
}

.cm-kevs-hint-elem {
	border: 0;
	border-radius: 0;
  border-bottom: 1px solid #999;
	padding-right: 0 !important;
}

.cm-kevs-hint-elem .hint-primary {
	background-color: #444;
	color: #999;
  line-height: 25px;
}

.cm-kevs-hint-elem .hint-secondary {
	background-color: #232323;
	color: #c8c8c8;
  line-height: 20px;
  padding: 0 5px;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0;
  border-radius: 0;
  white-space: normal;
  color: inherit;
  cursor: pointer;
}

.cm-kevs-hint-elem .hint-anchor {
  float: left;
  width: 25px;
  background-color: gray;
  color: #222;
  text-align: center;
}

.cm-kevs-hint-elem .hint-text {
  overflow: hidden;
  background-color: #333;
  color: #ccc;
  padding: 0 5px;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor,
.cm-kevs-hint-elem:hover .hint-anchor {
  background-color: #666;
  color: #ddd;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-text,
.cm-kevs-hint-elem:hover .hint-text {
  background-color: #505050;
  color: #eee;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-secondary,
.cm-kevs-hint-elem:hover .hint-secondary {
  background-color: #181818;
  color: #eee;
}

.cm-kevs-hint-elem .hint-anchor.group {
  background-color: #399342;
  color: #ddd;
}

.cm-kevs-hint-elem .hint-anchor.node {
  background-color: #5b5b5b;
  color: #ddd;
}

.cm-kevs-hint-elem .hint-anchor.component {
  background-color: #0d0d0d;
  color: #ddd;
}

.cm-kevs-hint-elem .hint-anchor.channel {
  background-color: #d57129;
  color: #ddd;
}

.cm-kevs-hint-elem .hint-anchor.stmt {
  background-color: #c678dd;
  color: #333;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor.group {
  background-color: #49A352;
  color: #ddd;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor.node {
  background-color: #7b7b7b;
  color: #222;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor.component {
  background-color: #1d1d1d;
  color: #ddd;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor.channel {
  background-color: #e68139;
  color: #ddd;
}

.cm-kevs-hint-elem.CodeMirror-hint-active .hint-anchor.stmt {
  background-color: #9E60B0;
  color: #ddd;
}
