svg#editor text {
    font-size: 13px;
    cursor: move;
}

svg#editor .group,
svg#editor .node,
svg#editor .comp,
svg#editor .chan {
    cursor: move;
}

svg#editor .instance .bg.selected {
    stroke: orange;
}

svg#editor circle.group-plug {
    cursor: pointer;
}