body {
  background-image: url(../images/bg.jpg);
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.navbar-img {
  padding: 8px 15px 0;
}
#container {
  margin-top: 51px;
}
#loading {
  z-index: 1002;
  position: absolute;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(3, 3, 3, 0.65);
}
#loading .loading-content {
  margin: 15% auto;
}
#loading .loading-content> * {
  text-align: center;
  color: #ddd;
}
legend.legend-sm {
  margin-bottom: 15px;
}
.kevscript-editor {
  margin-bottom: 15px;
}
.kevscript-editor-buttons {
  float: right;
}
.kevscript-editor-logs {
  float: left;
}
.table-width-auto {
  width: auto;
}
.table-no-first-border tr:first-child td {
  border-top: none;
}
.table-head-no-padding thead th:first-child {
  padding-left: 0;
}
.clickable {
  cursor: pointer;
}
.no-margin {
  margin: 0;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  opacity: .7;
  background-color: black;
  display: table;
  width: 100%;
  height: 100%;
}
.center-message {
  color: #fff;
  font-family: monospace;
  font-size: 45px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
#tree-container {
  margin-top: 15px;
}
.form-group.form-group-filter {
  margin: 0;
}
.filter-error {
  position: absolute;
  top: 32px;
  right: 15px;
  left: 15px;
  height: 17px;
  line-height: 17px;
}
.help-text {
  cursor: help;
  border-bottom: 1px dotted #777;
}
.btn-container {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.btn-container .btn {
  color: #f6f6f6;
  background-color: #111;
  border-color: #666;
  width: 200px;
  margin-left: 15px;
}
.tag.badge {
  margin: 0 2px;
}
.tag.badge a {
  color: white;
}
.k-btn {
  color: #f6f6f6;
  background-color: #111;
  border-color: #666;
  width: 200px;
  margin-left: 25px;
}
.breath {
  display: block;
  padding: 15px 0;
}
.breath-sm {
  display: block;
  padding: 5px 0;
}
.checkbox-sm {
  margin: 0;
  font-size: 11px;
  line-height: 20px;
}
.btn-container .btn[disabled] {
  background-color: #ccc;
  color: #777;
}
.btn-container .btn:hover:not(disabled) {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.node-box {
  padding: 10px;
}
.clickable-box {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  padding: 6px 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.clickable-box:not(.disabled):hover, .clickable-box:not(.disabled):focus, .clickable-box.active {
  font-weight: bold;
  border: 1px solid #333;
  background-color: #ececec;
}
.clickable-box.disabled {
  opacity: 0.5;
  cursor: default;
}
.clickable-box:not(.disabled):active {
  background-color: lightgrey;
}
.default-cursor {
  cursor: default;
}
.point-cursor {
  cursor: pointer;
}
.alert {
  padding: 7px;
}
.list-group-with-buttons .list-group-item {
  line-height: 30px;
}
.ui-notification {
  width: 180px;
}
#tdef-drag-panel {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
}
.svg-text {
  font-family: "Helvetica", sans-serif;
  font-size: 13px;
  text-anchor: middle;
}
.svg-port .svg-text {
  font-size: 9px;
  font-weight: bold;
}
.sidebar {
  z-index: 1;
  border-top: 1px solid #333;
  border-right: 1px solid #111;
  background-color: #222;
}
.sidebar-right {
  border-right: none;
  border-left: 1px solid #111;
}
.sidebar-header {
  margin: 0;
  color: #f6f6f6;
  background-color: #111;
  padding: 10px 5px;
  border-bottom: 1px solid #333;
}
.sidebar-header-right {
  margin-right: 5px;
  border-bottom: none;
  border-right: 1px solid #333;
  word-break: break-all;
}
.sidebar-helper {
  padding: 5px;
}
.instance-form {
  padding: 5px 8px 5px 8px;
  color: #999;
}
.form-group {
  margin-bottom: 10px;
}
.menubar {
  position: fixed;
  z-index: 3;
  top: 51px;
  left: 0;
  right: 0;
  min-height: 25px;
  background-color: #222;
  padding-left: 5px;
  padding-right: 5px;
}
.menubar .menu-btn {
  position: relative;
  display: inline-block;
}
.menu-btn button {
  border-radius: 0;
  height: 25px;
  padding: 0 7px;
  margin-top: -1px;
  background-color: #222;
  color: #999;
  border: 1px solid #000;
}
.menu-btn button:hover, .menu-btn button:focus, .menu-btn button:active {
  border: 1px solid #000;
  background-color: #333;
  color: #999;
}
.menu-btn .open {
  background-color: #333;
  color: #999;
}
.menu-btn .dropdown-menu {
  min-width: 0;
  background-color: #222;
  border-color: #000;
  border-radius: 0;
  margin-top: 0px;
}
.menu-btn .dropdown-menu> li> a {
  position: relative;
  cursor: pointer;
  color: #999;
  padding: 3px 10px;
}
.menu-btn .dropdown-menu> li> a .name {
  padding-right: 85px;
}
.menu-btn .dropdown-menu> li> a .shortcut {
  position: absolute;
  right: 10px;
  color: #666;
}
.menu-btn .dropdown-menu> li> a:hover, .menu-btn .dropdown-menu> li> a:focus, .menu-btn .dropdown-menu> li> a:active {
  background-color: #333;
}
.menu-btn .dropdown-menu> li.divider {
  background-color: #666;
}
.editor {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1;
}
.well {
  padding: 15px;
  background-color: #f5f5f5;
  min-height: 20px;
  margin-bottom: 0;
  border: 1px solid #e3e3e3;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.pkg-title {
  color: #999;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  border-right: none;
  border-left: none;
  font-size: 12px;
  font-weight: bold;
  background-color: #1c1c1c;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.pkg-title:hover {
  cursor: pointer;
}
.pkg-title:first-child {
  border-top: none;
}
.tdef-item {
  position: relative;
  display: block;
  padding: 5px 10px 5px 15px;
  margin-bottom: -1px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-right: none;
  border-left: none;
  background-color: #222;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tdef-item:first-child {
  border-top: none;
}
.tdef-item:hover {
  cursor: pointer;
  background-color: #333;
}
.tdef-item.ui-draggable-dragging {
  border: 1px solid #000;
  background-color: #333;
}
.tdef-count> h4 {
  margin-bottom: 0;
}
.tdef-count> p {
  padding-bottom: 8px;
  margin: 0 10px 10px 10px;
}
.bottom-space {
  padding-bottom: 10px;
}
.tdef-item-node {
  background: url('../images/node.png') top left repeat-y;
}
.tdef-item-component {
  background: url('../images/component.png') top left repeat-y;
}
.tdef-item-group {
  background: url('../images/group.png') top left repeat-y;
}
.tdef-item-channel {
  background: url('../images/channel.png') top left repeat-y;
}
.item-node {
  background: url('../images/node-v.png') bottom left repeat-x;
}
.item-component {
  background: url('../images/component-v.png') bottom left repeat-x;
}
.item-group {
  background: url('../images/group-v.png') bottom left repeat-x;
}
.item-channel {
  background: url('../images/channel-v.png') bottom left repeat-x;
}
.node-right-bg {
  background: url('../images/node.png') top right repeat-y;
  border-bottom: 1px solid #333;
}
.component-right-bg {
  background: url('../images/component.png') top right repeat-y;
  border-bottom: 1px solid #333;
}
.group-right-bg {
  background: url('../images/group.png') top right repeat-y;
  border-bottom: 1px solid #333;
}
.channel-right-bg {
  background: url('../images/channel.png') top right repeat-y;
  border-bottom: 1px solid #333;
}
.btn-group-block {
  display: block;
}
input.form-control.input-xs {
  height: 25px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.libraries-search-input .input-group-addon {
  width: 100px;
}
.whitish-bg {
  background-color: #f5f5f5;
}
.tree .item {
  margin: 1px 0;
  cursor: pointer;
  line-height: 20px;
}
.tree .item .tree .item {
  padding-left: 15px;
}
.tree .item .icon {
  float: left;
  display: inline-block;
  width: 12px;
  height: 20px;
  vertical-align: middle;
  margin-right: 3px;
}
.tree .item .icon.component {
  background: url('../images/component.png') top left repeat;
}
.tree .item .icon.node {
  background: url('../images/node.png') top left repeat;
}
.tree .item .icon.channel {
  background: url('../images/channel.png') top left repeat;
}
.tree .item .icon.group {
  background: url('../images/group.png') top left repeat;
}
.tree .item .expand-handle {
  color: white;
  font-size: x-small;
  vertical-align: middle;
  line-height: inherit;
  display: block;
  text-align: center;
}
.tree> .item> .name:hover {
  background-color: #eee;
}
.tree> .item.selected> .name> span {
  font-weight: bold;
}
.treeview-rightpanel> * {
  margin-top: 30px;
}
.treeview-rightpanel> *:first-child {
  margin-top: 0;
}
.treeview-actions {
  margin-top: 20px;
}
.treeview-action {
  display: inline-block;
  width: 25px;
  text-align: center;
}
.treeview-action:hover, .treeview-action:focus, .treeview-action:active {
  text-decoration: none;
}
.treecontrol-container {
  margin-top: 8px;
}
.treecontrol-inner-container {
  border: 1px solid #ccc;
  padding: 3px;
  overflow-y: scroll;
}
.tab-set .nav> li> a {
  background-color: #ccc;
  color: #777;
  padding: 4px 12px;
  border-radius: 0;
  height: 30px;
}
.tab-set .nav-tabs> li.active> a, .tab-set .nav-tabs> li.active> a:focus, .tab-set .nav-tabs> li.active> a:hover {
  color: #555;
  cursor: default;
  z-index: 2;
  margin-right: 2px;
  background-color: #fff;
}
.tab-set .nav-tabs> li> a:hover, .tab-set .nav-tabs> li> a:focus {
  background-color: #e6e6e6;
  color: #666;
}
.tab-content {
  box-shadow: 0px -1px 5px #888;
  z-index: 0;
}
.param-options {
  line-height: 65px;
}
.param-options> div {
  margin-bottom: 10px;
  vertical-align: bottom;
}

.CodeMirror-hints, .CodeMirror-hints * {
  padding: 0;
  margin: 0;
}
.CodeMirror-hints .cm-kevs-hint-elem {
  background-color: #444;
  color: #999;
  border: 0;
  border-radius: 0;
  line-height: 25px;
}
.CodeMirror-hints .cm-kevs-hint-elem .type {
  padding: 0 5px;
  display: inline-block;
  float: left;
  width: 25px;
  background-color: gray;
  color: #222;
  text-align: center;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .type {
  background-color: #666;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .text {
  background-color: #505050;
  color: #eee;
}
.CodeMirror-hints .cm-kevs-hint-elem .type.group {
  background-color: #399342;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem .type.node {
  background-color: #5b5b5b;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem .type.comp {
  background-color: #0d0d0d;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem .type.chan {
  background-color: #d57129;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .type.group {
  background-color: #49A352;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .type.node {
  background-color: #6b6b6b;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .type.comp {
  background-color: #1d1d1d;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem.CodeMirror-hint-active .type.chan {
  background-color: #e68139;
  color: #ddd;
}
.CodeMirror-hints .cm-kevs-hint-elem .text {
  display: inline-block;
  width: 100%;
  background-color: #333;
  color: #ccc;
  text-align: left;
  padding: 0 5px;
}

@media (min-width: 992px) {
  .libs-container {
    position: absolute;
    top: 61px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    overflow: hidden;
    padding: 10px 0 10px 0;
  }
  .tree-container {
    position: absolute;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0 10px 0;
  }
  .kevs-container {
    position: absolute;
    top: 75px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px 0 10px 0;
  }
  .kevscript-editor-container {
    position: absolute;
    left: 0;
    right: 15px;
  }
  .kevscript-editor {
    position: absolute;
    top: 60px;
    right: 15px;
    bottom: 65px;
    left: 15px;
    margin-bottom: 0;
  }
  .CodeMirror {
    height: 100%;
  }
  .kevscript-editor-buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
  .kevscript-editor-logs {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  #libraries-inner-container {
    position: absolute;
    top: 20px;
    left: 5px;
    right: 5px;
    bottom: 20px;
    overflow: hidden;
  }
  .fit-y {
    height: 100%;
  }
  .libraries-tdefs-container {
    position: absolute;
    top: 75px;
    left: 0;
    right: 5px;
    bottom: 0;
    overflow: hidden;
  }
  .libraries-tdef-list {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 15px;
    right: 15px;
    overflow: hidden;
  }
  .libraries-tdef-list-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .libraries-tdef-list-inner:hover {
    overflow-y: auto;
  }
  .libraries-selected-tdef {
    border-left: 1px solid #bbb;
    height: 100%;
    overflow: auto;
  }
  .treecontrol-container {
    position: absolute;
    top: 110px;
    left: 30px;
    right: 30px;
    bottom: 15px;
    margin-top: 0;
  }
  .treecontrol-inner-container {
    height: 100%;
  }
  .tab-set {
    position: absolute;
    top: 0;
    right: 15px;
    left: 0;
    bottom: 0;
  }
  .tab-content {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .tab-pane {
    height: 100%;
  }
  .tab-pane-container {
    height: 100%;
    overflow-y: auto;
  }
}
@media (max-width: 991px) {
  .libraries-search-input {
    padding-top: 10px;
  }
  .libraries-selected-tdef {
    padding-bottom: 10px;
  }
  .libs-container .loading-content {
    padding: 10px;
  }
  .tree-container, .kevs-container {
    margin-top: 25px;
  }
  .tree-container > *, .kevs-container > * {
    padding: 0;
  }
  .treeview-rightpanel, .kevscript-editor-container {
    margin: 15px 0;
  }
  .treecontrol-inner-container {
    max-height: 400px;
  }
  .tab-set .nav-tabs> li {
    float: none;
  }
  .tab-set .nav-tabs> li> a, .tab-set .nav-tabs> li> a:hover, .tab-set .nav-tabs> li> a:focus, .tab-set .nav-tabs> li.active> a, .tab-set .nav-tabs> li.active> a:hover, .tab-set .nav-tabs> li.active> a:focus {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 76px;
    bottom: 0;
    left: 0;
    width: 250px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }
  .settings-container {
    margin-top: 10px;
  }
  .sidebar-right {
    left: auto;
    right: 0;
  }
  .sidebar-right-group {
    bottom: 50px;
  }
  .sidebar-right-footer {
    display: table;
    top: auto;
    bottom: 0;
    height: 50px;
    background-color: #111;
  }
  .editor {
    left: 250px;
  }
}
.libraries-tdef-list .list-group-item {
  cursor: pointer;
}
.libraries-tdef-list-inner .list-group .list-group-item {
  border-radius: 0;
  border-left: none;
  border-right: none;
}
.libraries-tdef-list-inner .list-group .list-group-item * {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.libraries-tdef-list-inner .list-group .list-group-item .list-group-item-heading {
  font-size: 14px;
}
.tdef-detail {
  margin: 0;
}
.tdef-detail> li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.tdef-detail> li:last-child {
  border: none;
  padding-bottom: 0;
}
.tdef-detail> li:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.tdef-detail .name {
  font-weight: bold;
}
.tdef-detail .value {
  float: right;
}
.select-chan-panel {
  font-size: 13px;
  border-color: #222;
  margin: 0;
}
.select-chan-panel .panel-heading {
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  color: #fff;
  background-color: #222;
  border-radius: 0;
}
.select-chan-panel .list-group {
  max-height: 150px;
  overflow-y: auto;
}
.select-chan-panel .list-group-item {
  padding: 5px 10px;
}
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .nav-sidebar {
    margin: 0;
  }
  .nav-sidebar> li> a {
    border-radius: 0;
  }
}
.modal-dialog {
  margin-top: 85px;
}
.modal-title {
  word-break: break-all;
}
pre {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: inherit;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: inherit;
  border: none;
  border-radius: inherit;
}
.text-bold {
  font-weight: bold;
}
.text-justify {
  text-align: justify;
}
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}
.spinner> div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner-white> div {
  background-color: #999;
}
.spinner.inverse> div {
  background-color: #ddd;
  color: #333;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
.editor-shortcuts {
  z-index: 5;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.editor-shortcuts-container {
  display: table !important;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  color: #333;
  background-color: rgba(255, 255, 255, 0.9);
}
.editor-shortcuts-close {
  position: fixed;
  right: 5px;
  font-size: 2.4em;
  opacity: 1;
}
.editor-shortcuts-middle {
  display: table-cell;
  vertical-align: middle;
}
.editor-shortcuts-inner {
  margin-left: auto;
  margin-right: auto;
}
.editor-shortcuts-row {
  padding: 4px 0;
}
.ui-notification .message {
  word-wrap: break-word;
}
.help-block {
  margin: 0;
  margin-left: 2px;
  font-size: 12px;
}
.tooltip {
  z-index: 1000;
}
.pull-right {
  float: right;
}
