<div class="row">
  <div class="col-md-8">
    <fieldset>
      <legend>List of tags ({{ tags.length }})</legend>
      <p class="text-muted" style="text-align: justify">
        Tags allow you to create arbitrary set of instances. You can remove a
        previously added tag by clicking on the cross next to its name.
      </p>
      <span class="tag badge" ng-repeat="tag in tags">
        <span>{{ tag }}</span>
        <a href="" ng-click="removeTag(tag)"><i class="fa fa-times"></i></a>
      </span>
    </fieldset>
  </div>
  <div class="col-md-4">
    <fieldset>
      <legend>Tag the selection</legend>
      <p class="text-muted" style="text-align: justify">
        Add a tag to the current selection
      </p>
      <div class="input-group" ng-class="error ? 'has-error has-feedback':''">
        <input type="text" class="form-control" ng-model="tag" placeholder="Tag name" ui-keypress="{13: 'addTag()'}" ng-change="validate()"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="addTag()" ng-disabled="error || tag.length === 0">Add</button>
        </span>
      </div>
      <span class="text-danger" ng-if="error">{{ error }}</span>
    </fieldset>
  </div>
</div>
