<form name="{{ name }}" class="instance-form">
    <div data-ng-hide="!fragment || dictionary.values.size() > 0">
        <p class="text-muted"><em>No value</em> - <a href="#" data-ng-click="dictionary.delete()">Delete dictionary?</a></p>
    </div>

    <div class="form-group" data-ng-repeat="(index, attr) in attrs | orderBy:'name'" data-ng-class="this[name][attr.name].$valid ? '':'has-error has-feedback'">
        <label>{{ attr.name + (isTruish(attr.optional) ? '':' *') }}</label>

        <input data-ng-if="attr.datatype.name() === 'BYTE' || attr.datatype.name() === 'CHAR'"
               name="{{attr.name}}"
               type="text"
               class="form-control input-sm"
               data-ng-model="(dictionary.findValuesByID(attr.name)).value"
               data-ng-change="onChange(this[name][attr.name])"
               data-ng-required="!isTruish(attr.optional)">
        <span data-ng-if="attr.datatype.name() === 'BYTE' || attr.datatype.name() === 'CHAR'"
              class="glyphicon glyphicon-remove form-control-feedback"
              data-ng-hide="this[name][attr.name].$valid"></span>

        <textarea data-ng-if="attr.datatype.name() === 'STRING'"
                  rows="1"
                  name="{{attr.name}}"
                  class="form-control input-sm"
                  data-ng-model="(dictionary.findValuesByID(attr.name)).value"
                  data-ng-change="onChange(this[name][attr.name])"
                  data-ng-required="!isTruish(attr.optional)"
                  style="resize: vertical;">
        </textarea>
        <span data-ng-if="attr.datatype.name() === 'STRING'"
              class="glyphicon glyphicon-remove form-control-feedback"
              data-ng-hide="this[name][attr.name].$valid"></span>

        <input data-ng-if="attr.datatype.name() === 'LONG' || attr.datatype.name() === 'FLOAT' || attr.datatype.name() === 'DOUBLE' || attr.datatype.name() === 'SHORT' || attr.datatype.name() === 'INT'"
               name="{{attr.name}}"
               type="number"
               step="any"
               class="form-control input-sm"
               data-string-to-number
               data-ng-model="(dictionary.findValuesByID(attr.name)).value"
               data-ng-change="onChange(this[name][attr.name])"
               data-ng-required="!isTruish(attr.optional)">
        <span data-ng-if="attr.datatype.name() === 'LONG' || attr.datatype.name() === 'FLOAT' || attr.datatype.name() === 'DOUBLE' || attr.datatype.name() === 'SHORT' || attr.datatype.name() === 'INT'"
              class="glyphicon glyphicon-remove form-control-feedback"
              data-ng-hide="this[name][attr.name].$valid"></span>

        <div data-ng-if="attr.datatype.name() === 'BOOLEAN'" class="btn-group btn-group-block clearfix">
            <label class="btn btn-sm btn-default" data-ng-model="(dictionary.findValuesByID(attr.name)).value" data-btn-radio="'true'">True</label>
            <label class="btn btn-sm btn-default" data-ng-model="(dictionary.findValuesByID(attr.name)).value" data-btn-radio="'false'">False</label>
        </div>
    </div>
</form>
