<div class="libs-container whitish-bg">
	<div id="libraries-inner-container">
		<div class="col-xs-12">
			<div class="alert alert-danger" ng-if="error">
				<button type="button" class="close" ng-click="closeError()"><span>&times;</span></button>
				<strong>Error:</strong> {{ error }}
			</div>
		</div>
		<div ng-if="loading">
			<div class="loading-content">
				<h4 class="text-center">Loading libraries from <a href="{{ getUrl() }}" target="_blank">Kevoree Registry</a></h4>
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
				</div>
			</div>
		</div>

		<div class="col-md-8 fit-y" ng-if="!loading">
			<div class="fit-y">
				<div class="libraries-search-input clearfix">
					<div class="col-xs-12 col-sm-4">
						<div class="form-group input-group input-group-sm col-xs-12">
							<span class="input-group-addon">Name</span>
							<input type="text" class="form-control" placeholder="Search by name" ng-model="tdefSearch.name" focus="true">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group input-group input-group-sm col-xs-12">
							<span class="input-group-addon">Namespace</span>
							<input type="text" class="form-control" placeholder="Search by namespace" ng-model="tdefSearch.namespace">
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="form-group input-group input-group-sm col-xs-12">
							<span class="input-group-addon">Platform</span>
							<input type="text" class="form-control" placeholder="Search by platform" ng-model="tdefSearch.platform">
						</div>
					</div>
				</div>

				<div class="libraries-tdefs-container">
					<div class="col-md-3 fit-y">
						<div class="tdef-count">
							<h4 class="text-center">{{ filteredGroups.length }}</h4>
							<p class="text-muted text-center item-group"><strong>groups</strong></p>
						</div>
						<div>
							<div class="libraries-tdef-list">
								<div class="libraries-tdef-list-inner">
									<div class="list-group">
										<a class="list-group-item" ng-class="tdef.selected ? 'active':''" ng-repeat="tdef in filteredGroups = (groups | filter:{name: tdefSearch.name} | filter:{namespace: { name: tdefSearch.namespace }} | filter:{ versions: { deployUnits: { platform: tdefSearch.platform } }} | orderBy:'name')"
														ng-click="select($event, tdef)">
											<h4 class="list-group-item-heading">{{ tdef.name }}</h4>
											<p class="list-group-item-text text-muted">{{ tdef.namespace.name }}</p>
											</a>
									</div>
								</div>
								<p class="text-center" ng-if="filteredGroups.length === 0"><em>no match</em></p>
							</div>
						</div>
					</div>

					<div class="col-md-3 fit-y">
						<div class="tdef-count">
							<h4 class="text-center">{{ filteredNodes.length }}</h4>
							<p class="text-muted text-center item-node"><strong>nodes</strong></p>
						</div>
						<div class="libraries-tdef-list">
							<div class="libraries-tdef-list-inner">
								<div class="list-group">
									<a class="list-group-item" ng-class="tdef.selected ? 'active':''" ng-repeat="tdef in filteredNodes = (nodes | filter:{name: tdefSearch.name} | filter:{namespace: { name: tdefSearch.namespace }} | filter:{ versions: { deployUnits: { platform: tdefSearch.platform } }} | orderBy:'name')"
													ng-click="select($event, tdef)">
										<h4 class="list-group-item-heading">{{ tdef.name }}</h4>
										<p class="list-group-item-text text-muted">{{ tdef.namespace.name }}</p>
										</a>
								</div>
							</div>
							<p class="text-center" ng-if="filteredNodes.length === 0"><em>no match</em></p>
						</div>
					</div>

					<div class="col-md-3 fit-y">
						<div class="tdef-count">
							<h4 class="text-center">{{ filteredChans.length }}</h4>
							<p class="text-muted text-center item-channel"><strong>channels</strong></p>
						</div>
						<div class="libraries-tdef-list">
							<div class="libraries-tdef-list-inner">
								<div class="list-group">
									<a class="list-group-item" ng-class="tdef.selected ? 'active':''" ng-repeat="tdef in filteredChans = (channels | filter:{name: tdefSearch.name} | filter:{namespace: { name: tdefSearch.namespace }} | filter:{ versions: { deployUnits: { platform: tdefSearch.platform } }} | orderBy:'name')"
													ng-click="select($event, tdef)">
										<h4 class="list-group-item-heading">{{ tdef.name }}</h4>
										<p class="list-group-item-text text-muted">{{ tdef.namespace.name }}</p>
										</a>
								</div>
							</div>
							<p class="text-center" ng-if="filteredChans.length === 0"><em>no match</em></p>
						</div>
					</div>

					<div class="col-md-3 fit-y">
						<div class="tdef-count">
							<h4 class="text-center">{{ filteredComps.length }}</h4>
							<p class="text-muted text-center item-component"><strong>components</strong></p>
						</div>
						<div class="libraries-tdef-list">
							<div class="libraries-tdef-list-inner">
								<div class="list-group">
									<a class="list-group-item" ng-class="tdef.selected ? 'active':''" ng-repeat="tdef in filteredComps = (components | filter:{name: tdefSearch.name} | filter:{namespace: { name: tdefSearch.namespace }} | filter:{ versions: { deployUnits: { platform: tdefSearch.platform } }} | orderBy:'name')"
													ng-click="select($event, tdef)">
										<h4 class="list-group-item-heading">{{ tdef.name }}</h4>
										<p class="list-group-item-text text-muted">{{ tdef.namespace.name }}</p>
										</a>
								</div>
							</div>
							<p class="text-center" ng-if="filteredComps.length === 0"><em>no match</em></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4 libraries-selected-tdef clearfix" ng-if="!loading">
			<accordion close-others="false">
				<accordion-group ng-repeat="tdef in selection" is-open="tdef.open">
					<accordion-heading>
						{{ tdef.namespace.name + '.' + tdef.name }} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': tdef.open, 'glyphicon-chevron-right': !tdef.open}"></i>
					</accordion-heading>
					<ul class="list-unstyled tdef-detail">
						<li>
							<span class="name">ID</span>
							<a href="{{ getUrl() + '/#/tdefs/' + tdef.selectedVersion.id }}" target="_blank" class="value">{{ tdef.selectedVersion.id }}</a>
						</li>
						<li>
							<span class="name">Version</span>
							<select class="form-control input-sm value" ng-model="tdef.selectedVersion" ng-options="versions as versions.version for versions in tdef.versions | orderBy:'version':true" ng-change="changeVersion(tdef)" style="width: auto;">
              </select>
						</li>
						<li>
							<span class="name">Description</span>
							<p class="text-right" ng-if="!tdef.selectedVersion.description"><em>- none -</em></p>
							<truncate content="tdef.selectedVersion.description" length="200" ng-if="tdef.selectedVersion.description" />
						</li>
						<li>
							<span class="name">DeployUnits in current model</span>
							<p class="text-right" ng-if="!getTdefInModel(tdef)"><em>- none -</em></p>
							<div ng-if="getTdefInModel(tdef)">
								<div class="bottom-space">
									<div class="text-right" ng-repeat="du in getTdefInModel(tdef).deployUnits.array | orderBy:'name'">
										<abbr title="hashcode={{ du.hashcode }}">{{ du.name }} - {{ du.version }} - {{ du.findFiltersByID('platform').value }}</abbr>
									</div>
								</div>
							</div>
						</li>
						<li>
							<span class="name">Available releases</span>
							<p class="text-right" ng-if="!tdef.selectedVersion.releaseDus"><em>loading...</em></p>
							<p class="text-right" ng-if="tdef.selectedVersion.releaseDus.length === 0"><em>- none -</em></p>
							<div ng-if="tdef.selectedVersion.releaseDus.length > 0">
								<div class="bottom-space">
									<div class="text-right" ng-repeat="du in tdef.selectedVersion.releaseDus | orderBy:'name'">
										<a href="{{ getUrl() + '/#/dus/' + du.id }}" target="_blank" title="hashcode={{ du.model.select('**/deployUnits[]').array[0].hashcode }}">{{ du.name }} - {{ du.version }} - {{ du.platform }}</a>
									</div>
								</div>
								<button class="btn btn-sm btn-default pull-right" ng-click="useReleases(tdef)" ng-disabled="isAlreadyInModel(tdef, true)">
                  <span>Use releases</span>
                  <i class="fa fa-check-circle" ng-if="isAlreadyInModel(tdef, true)"></i>
                </button>
							</div>
						</li>
						<li>
							<span class="name">Available latest</span>
							<p class="text-right" ng-if="!tdef.selectedVersion.latestDus"><em>loading...</em></p>
							<p class="text-right" ng-if="tdef.selectedVersion.latestDus.length === 0"><em>- none -</em></p>
							<div ng-if="tdef.selectedVersion.latestDus.length > 0">
								<div class="bottom-space">
									<div class="text-right" ng-repeat="du in tdef.selectedVersion.latestDus | orderBy:'name'">
										<a href="{{ getUrl() + '/#/dus/' + du.id }}" target="_blank" title="hashcode={{ du.model.select('**/deployUnits[]').array[0].hashcode }}">
											{{ du.name }} - {{ du.version }} - {{ du.platform }}
										</a>
										<a href="#" ng-click="mergeInModel(du)">Merge</a>
									</div>
								</div>
								<button class="btn btn-sm btn-default pull-right" ng-click="mergeLatest(tdef)" ng-disabled="isAlreadyInModel(tdef, false)">
									<span>Merge latest</span>
									<i class="fa fa-check-circle" ng-if="isAlreadyInModel(tdef, false)"></i>
								</button>
								<button class="btn btn-sm btn-default pull-right" ng-click="useLatest(tdef)" ng-disabled="isAlreadyInModel(tdef, false)">
                  <span>Use latest</span>
                  <i class="fa fa-check-circle" ng-if="isAlreadyInModel(tdef, false)"></i>
                </button>
							</div>
						</li>
					</ul>
				</accordion-group>
			</accordion>
			<div class="pull-right" ng-if="selection.length > 0">
				<button class="btn btn-sm btn-default" ng-click="useAllReleases()" ng-disabled="areAlreadyInModel(true)" ng-if="hasReleases()">
          <span>Use all releases</span>
          <i class="fa fa-check-circle" ng-if="areAlreadyInModel(true)"></i>
        </button>
				<button class="btn btn-sm btn-default" ng-click="useAllLatest()" ng-disabled="areAlreadyInModel(false)" ng-if="hasLatest()">
          <span>Use all latest</span>
          <i class="fa fa-check-circle" ng-if="areAlreadyInModel(false)"></i>
        </button>
			</div>
		</div>
	</div>
</div>
