<div class="tab-container whitish-bg">
  <div id="libraries-inner-container">
    <div class="alert alert-danger" data-ng-if="error">
      <button type="button" class="close" data-ng-click="closeError()"><span>&times;</span></button>
      {{error}}
    </div>
    <div data-ng-if="loading">
      <div class="loading-content">
        <h4 class="text-center">Loading libraries from <a href="{{KEVOREE_REGISTRY_URL}}" target="_blank">Kevoree Registry</a></h4>
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
        </div>
      </div>
    </div>

    <div class="col-md-8 fit-y" data-ng-if="!loading">
      <div class="fit-y">
        <div class="libraries-search-input clearfix">
          <div class="col-xs-12 col-sm-6">
            <div class="form-group input-group input-group-sm col-xs-12">
              <span class="input-group-addon">TypeDefinition</span>
              <input id="filter-by-tdef" type="text" class="form-control" placeholder="Search by TypeDefinition" data-ng-model="tdefSearch.name">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group input-group input-group-sm col-xs-12">
              <span class="input-group-addon">Platform</span>
              <input type="text" class="form-control" placeholder="Search by platform" data-ng-model="tdefSearch.platforms">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group input-group input-group-sm col-xs-12">
              <span class="input-group-addon">Package</span>
              <input type="text" class="form-control" placeholder="Search by package" data-ng-model="tdefSearch.package">
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="form-group input-group input-group-sm col-xs-12">
              <span class="input-group-addon">Version</span>
              <input type="text" class="form-control" placeholder="Search by version" data-ng-model="tdefSearch.version">
            </div>
          </div>
        </div>

        <div class="libraries-tdefs-container">
          <div class="col-md-3 fit-y">
            <div class="tdef-count">
              <h4 class="text-center">{{ filteredGroups.length }}</h4>
              <p class="text-muted text-center item-group"><strong>groups</strong></p>
            </div>
            <div>
              <div class="libraries-tdef-list">
                <div class="libraries-tdef-list-inner">
                  <div class="list-group">
                    <a
                            class="list-group-item"
                            data-ng-class="tdef.selected ? 'active':''"
                            data-ng-repeat="tdef in filteredGroups = (tdefs.groups | filter:tdefSearch | orderBy:'name')"
                            data-ng-click="select($event, tdef)">
                      <h4 class="list-group-item-heading">{{ tdef.name }}</h4>
                      <p class="list-group-item-text text-muted">{{ tdef.package }}</p>
                    </a>
                  </div>
                </div>
                <p class="text-center" data-ng-if="filteredGroups.length === 0"><em>no match</em></p>
              </div>
            </div>
          </div>

          <div class="col-md-3 fit-y">
            <div class="tdef-count">
              <h4 class="text-center">{{ filteredNodes.length }}</h4>
              <p class="text-muted text-center item-node"><strong>nodes</strong></p>
            </div>
            <div class="libraries-tdef-list">
              <div class="libraries-tdef-list-inner">
                <div class="list-group">
                  <a
                          class="list-group-item"
                          data-ng-class="tdef.selected ? 'active':''"
                          data-ng-repeat="tdef in filteredNodes = (tdefs.nodes | filter:tdefSearch | orderBy:'name')"
                          data-ng-click="select($event, tdef)">
                    <h4 class="list-group-item-heading">{{ tdef.name }}</h4>
                    <p class="list-group-item-text text-muted">{{ tdef.package }}</p>
                  </a>
                </div>
              </div>
              <p class="text-center" data-ng-if="filteredNodes.length === 0"><em>no match</em></p>
            </div>
          </div>

          <div class="col-md-3 fit-y">
            <div class="tdef-count">
              <h4 class="text-center">{{ filteredChans.length }}</h4>
              <p class="text-muted text-center item-channel"><strong>channels</strong></p>
            </div>
            <div class="libraries-tdef-list">
              <div class="libraries-tdef-list-inner">
                <div class="list-group">
                  <a
                          class="list-group-item"
                          data-ng-class="tdef.selected ? 'active':''"
                          data-ng-repeat="tdef in filteredChans = (tdefs.channels | filter:tdefSearch | orderBy:'name')"
                          data-ng-click="select($event, tdef)">
                    <h4 class="list-group-item-heading">{{ tdef.name }}</h4>
                    <p class="list-group-item-text text-muted">{{ tdef.package }}</p>
                  </a>
                </div>
              </div>
              <p class="text-center" data-ng-if="filteredChans.length === 0"><em>no match</em></p>
            </div>
          </div>

          <div class="col-md-3 fit-y">
            <div class="tdef-count">
              <h4 class="text-center">{{ filteredComps.length }}</h4>
              <p class="text-muted text-center item-component"><strong>components</strong></p>
            </div>
            <div class="libraries-tdef-list">
              <div class="libraries-tdef-list-inner">
                <div class="list-group">
                  <a
                          class="list-group-item"
                          data-ng-class="tdef.selected ? 'active':''"
                          data-ng-repeat="tdef in filteredComps = (tdefs.components | filter:tdefSearch | orderBy:'name')"
                          data-ng-click="select($event, tdef)">
                    <h4 class="list-group-item-heading">{{ tdef.name }}</h4>
                    <p class="list-group-item-text text-muted">{{ tdef.package }}</p>
                  </a>
                </div>
              </div>
              <p class="text-center" data-ng-if="filteredComps.length === 0"><em>no match</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 libraries-selected-tdef clearfix" data-ng-if="!loading">
      <accordion close-others="true">
        <accordion-group data-ng-repeat="tdef in tdefs.getAll() | filter:{selected:true} | orderBy:'name'" is-open="tdef.uiOpen">
          <accordion-heading>
            {{ tdef.name + '/' + tdef.version }} <i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': tdef.uiOpen, 'glyphicon-chevron-right': !tdef.uiOpen}"></i>
          </accordion-heading>
          <ul class="list-unstyled tdef-detail">
            <li>
              <span class="name">Package</span>
              <span class="value">{{ tdef.package }}</span>
            </li>
            <li>
              <span class="name">Latest release</span>
              <span class="value">{{ tdef.release }}</span>
            </li>
            <li>
              <span class="name">Latest snapshot</span>
              <span class="value">{{ tdef.snapshot }}</span>
            </li>
            <li>
              <span class="name">Platforms</span>
              <ul class="value">
                <li data-ng-repeat="platform in tdef.platforms">{{ platform }}</li>
              </ul>
            </li>
            <li>
              <label class="name">Versions</label>
              <select class="form-control input-sm value" data-ng-model="tdef.version" data-ng-change="changeVersion()" style="width: auto;">
                <option value="{{ version }}"
                        data-ng-repeat="version in tdef.versions | semverReverseSort"
                        data-ng-selected="version === tdef.version">
                  {{ version }}
                </option>
              </select>
            </li>
            <li data-ng-if="tdef.description">
                <span class="name">Description</span>
                <div class="value">
                  <p class="text-justify" data-ng-bind-html="tdef.description | truncate:descLength | trustHtml"></p>
                </div>
            </li>
          </ul>
          <button class="btn btn-default pull-right" data-ng-click="merge(tdef)" data-ng-if="isMergeable(tdef)">Merge</button>
          <span class="pull-right" data-ng-if="!isMergeable(tdef)">Merged&nbsp;<i class="fa fa-check-circle"></i></span>
        </accordion-group>
      </accordion>
      <div data-ng-if="(tdefs.getAll() | filter:{selected:true}).length > 1">
        <button class="btn btn-default pull-right" data-ng-click="mergeAll()" data-ng-if="areMergeable()">Merge all</button>
        <span class="pull-right" data-ng-if="!areMergeable()">Merged&nbsp;<i class="fa fa-check-circle"></i></span>
      </div>
    </div>
  </div>
</div>
