<div id="navbar" class="navbar navbar-inverse navbar-top navbar-fixed-top" data-ng-cloak>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-img">
        <img src="images/kevoree.png">
      </a>
    </div>
    <ul class="nav navbar-left navbar-nav navbar-collapse collapse" data-collapse="isCollapsed">
      <li data-ng-class="{active: $state.includes('main')}">
        <a data-ui-sref="main" data-ng-click="!isCollapsed ? (isCollapsed = !isCollapsed):''">Model Editor</a>
      </li>
      <li data-ng-class="{active: $state.includes('libraries')}">
        <a data-ui-sref="libraries" data-ng-click="!isCollapsed ? (isCollapsed = !isCollapsed):''">Regitry Libraries</a>
      </li>
      <li data-ng-class="{active: $state.includes('kevscript')}">
        <a data-ui-sref="kevscript" data-ng-click="!isCollapsed ? (isCollapsed = !isCollapsed):''">KevScript Editor</a>
      </li>
    </ul>
    <ul class="nav navbar-right navbar-nav navbar-collapse collapse" data-collapse="isCollapsed">
      <li data-ng-class="{active: $state.includes('settings')}">
        <a data-ui-sref="settings" data-ng-click="!isCollapsed ? (isCollapsed = !isCollapsed):''">Settings</a>
      </li>
    </ul>
  </div>
</div>
