<div class="panel panel-kevoree" ng-disabled="$ctrl.disabled">
  <div class="panel-heading">
    <span>{{ $ctrl.tag }} DeployUnits</span>
    <button
      class="btn btn-sm btn-default pull-right"
      ng-click="$ctrl.addToModel()"
      ng-disabled="$ctrl.disabled || !$ctrl.dus || $ctrl.dus.length === 0">Add to model</button>
  </div>
  <div class="panel-body breath-all-sm" ng-if="$ctrl.disabled && !$ctrl.dus">
    <em>Loading...</em>
  </div>
  <div class="panel-body breath-all-sm" ng-if="!$ctrl.disabled && !$ctrl.dus">
    <em>You must select a TypeDefinition</em>
  </div>
  <div class="panel-body breath-all-sm" ng-if="$ctrl.dus.length === 0">
    <em>No DeployUnit found</em>
  </div>
  <dus-list dus="$ctrl.dus" />
</div>
