<div class="sidebar sidebar-right sidebar-right-{{type}}" ng-if="vm.instance">
    <div ng-class="vm.type+'-right-bg'">
        <h5 class="sidebar-header sidebar-header-right text-capitalize point-cursor" ng-click="vm.mainCollapsed = !vm.mainCollapsed">
            <i class="fa" ng-class="vm.mainCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;{{ vm.instance.typeDefinition.name }}
        </h5>
    </div>
    <div class="instance-form" uib-collapse="vm.mainCollapsed">
        <div class="instance-metas pull-right">
            <i class="fa fa-cube" title="Virtual type" ng-if="vm.isVirtual()"></i>
            <i class="fa fa-lock" title="Read-only instance" ng-if="vm.isReadOnly()"></i>
        </div>
        <form name="form">
            <div class="form-group" ng-class="form.name.$valid ? '':'has-error has-feedback'">
                <label for="name">Name</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        class="form-control input-sm"
                        placeholder="Instance name"
                        ng-model="vm.instance.preName"
                        ng-change="vm.changeName(form, vm.instance.preName)"
                        data-instance="vm.instance"
                        data-instance-name
                        data-instance-type="vm.type"
                        ng-disabled="vm.isReadOnly()"
                        required>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-hide="form.name.$valid"></span>
                <p class="help-block" ng-if="!form.name.$valid">Name must be unique and not null</p>
            </div>
            <div class="form-group">
                <label for="version">Version</label>
                <select
                        id="version"
                        class="form-control input-sm"
                        ng-model="vm.instance.selectedVersion"
                        ng-options="version for version in vm.versions"
                        ng-change="vm.changeVersion(vm.instance.selectedVersion)"
                        ng-disabled="vm.isReadOnly()">
                </select>
            </div>
            <div class="form-group clearfix">
              <label>DeployUnits</label>
              <div ng-if="!vm.dus || vm.dus.length === 0">
                <em ng-if="vm.isVirtual()">- virtual type -</em>
                <em ng-if="!vm.isVirtual()">- empty -</em>
              </div>
              <dus-list dus="vm.dus" />
            </div>
            <div class="form-group clearfix">
                <label>State</label>
                <div class="btn-group btn-group-block">
                    <label class="btn btn-sm btn-default" ng-model="vm.instance.started" data-btn-radio="true" ng-disabled="vm.isReadOnly()">Started</label>
                    <label class="btn btn-sm btn-default" ng-model="vm.instance.started" data-btn-radio="false" ng-disabled="vm.sReadOnly()">Stopped</label>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div ng-class="type+'-right-bg'">
            <h5 class="sidebar-header sidebar-header-right point-cursor" ng-click="descCollapsed = !descCollapsed">
                <i class="fa" ng-class="vm.descCollapsed ? 'fa-plus':'fa-minus'"></i>
                &nbsp;Description
            </h5>
        </div>
        <div class="instance-form" uib-collapse="vm.descCollapsed">
          <truncate content="vm.description" length="200" />
        </div>
    </div>
    <div ng-switch="vm.processing">
        <div ng-switch-when="true">
            <div class="instance-form">
                <h4 class="text-center">Loading</h4>
                <div class="spinner spinner-white">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                </div>
            </div>
        </div>
        <div ng-switch-when="false">
            <!-- Dictionary panel -->
            <div ng-show="vm.instance.dictionary.values.size() > 0">
                <div ng-class="type+'-right-bg'">
                    <h5 class="sidebar-header sidebar-header-right point-cursor" ng-click="vm.dicCollapsed = !vm.dicCollapsed">
                        <i class="fa" ng-class="vm.dicCollapsed ? 'fa-plus':'fa-minus'"></i>
                        &nbsp;Dictionary
                    </h5>
                </div>
                <div uib-collapse="vm.dicCollapsed">
                    <dictionary data-name="dicForm" data-attrs="vm.dicAttrs" data-dictionary="vm.instance.dictionary" data-fragment="false" />
                </div>
            </div>

            <!-- Fragment Dictionary panels -->
            <div ng-repeat="fragDic in vm.instance.fragmentDictionary.array">
                <div ng-class="type+'-right-bg'">
                    <h5 class="sidebar-header sidebar-header-right point-cursor" ng-click="vm.fragCollapsed[fragDic.name] = !vm.fragCollapsed[fragDic.name]">
                        <i class="fa" ng-class="vm.fragCollapsed[fragDic.name] ? 'fa-plus':'fa-minus'"></i>
                        &nbsp;Fragment Dictionary - <strong>{{ fragDic.name }}</strong>
                    </h5>
                </div>
                <div uib-collapse="vm.fragCollapsed[fragDic.name]">
                    <dictionary data-name="{{fragDic.name}}" data-attrs="vm.fragDicAttrs" data-dictionary="fragDic" data-fragment="true" />
                </div>
            </div>

            <!-- Network panel -->
            <div ng-show="vm.hasNetworkInformation()">
                <div ng-repeat="net in vm.instance.networkInformation.array">
                    <div ng-class="type+'-right-bg'">
                        <h5 class="sidebar-header sidebar-header-right point-cursor clearfix" ng-click="vm.netCollapsed = !vm.netCollapsed">
                            <i class="fa" ng-class="vm.netCollapsed ? 'fa-plus':'fa-minus'"></i>
                            &nbsp;Network Informations - <strong>{{ net.name }}</strong>
                            <a class="point-cursor" class="pull-right" ng-click="vm.manageNetwork($event, net)"><i class="fa fa-cog"></i></a>
                        </h5>
                    </div>
                    <div uib-collapse="vm.netCollapsed">
                        <div class="instance-form">
                            <div class="form-group" ng-repeat="val in net.values.array | orderBy:'name'">
                                <label for="net-{{ net.name + '-' + val.name }}">{{ val.name }}</label>
                                <input
                                        id="net-{{ net.name + '-' + val.name }}"
                                        name="net-{{ net.name + '-' + val.name }}"
                                        type="text"
                                        class="form-control input-sm"
                                        ng-model="val.value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-form">
                    <a class="point-cursor" ng-click="vm.addNetwork()">Add new network</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar sidebar-right sidebar-right-footer" ng-if="vm.instance && (vm.type === 'group')">
    <div class="btn-container">
        <button class="btn btn-default" ng-click="vm.openGroupModal()" ng-disabled="vm.instance.subNodes.size() === 0" focus="true">Push/Pull model</button>
    </div>
</div>
