<div class="menubar">
	<div class="menu-btn">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      File&nbsp;<span class="caret"></span>
    </button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a ng-click="open($event)">
					<span class="name">Open</span>
					<span class="shortcut">Ctrl+O</span>
				</a>
			</li>
			<li class="divider"></li>
			<li>
				<a ng-click="save($event)">
					<span class="name">Save</span>
					<span class="shortcut">Ctrl+S</span>
				</a>
			</li>
		</ul>
	</div>
	<div class="menu-btn">
		<button type="button" class="btn btn-default" ng-click="toggleShortcutHelp()">Help</button>
	</div>
</div>
<div class="kevs-container">
	<div class="col-md-3 clearfix">
		<div class="col-xs-12 well">
			<fieldset>
				<legend class="legend-sm">Context variables</legend>
				<table class="table table-condensed table-striped no-margin well well-sm">
					<thead>
						<tr>
							<th class="col-xs-1">
								<a href ng-click="clearCtxVars()" title="Clear values" ng-if="keys(ctxVars).length > 0">
									<i class="fa fa-trash-o"></i>
								</a>
							</th>
							<th class="col-xs-5">Key</th>
							<th class="col-xs-6">Value</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, value) in ctxVars">
							<th>
								<a href ng-click="removeCtxVar(key)" title="Remove '{{ key }}'">
									<i class="fa fa-trash"></i>
								</a>
							</th>
							<td><code>{{ key }}</code></td>
							<td><code>{{ value }}</code></td>
						</tr>
						<tr>
							<th style="vertical-align: middle;">
								<a href ng-click="addCtxVar(newVal)" title="Add">
									<i class="fa fa-plus"></i>
								</a>
							</th>
							<td>
								<input type="text" class="form-control input-xs" ng-model="newVal.key" placeholder="key" ui-keypress="{13: 'addCtxVar(newVal)'}" />
							</td>
							<td>
								<input type="text" class="form-control input-xs" ng-model="newVal.value" placeholder="value" ui-keypress="{13: 'addCtxVar(newVal)'}" />
							</td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
	<div class="col-md-9 fit-y">
		<div class="kevscript-editor-container well fit-y">
			<fieldset class="fit-y">
				<legend>
					<span>KevScript</span>
					<button class="btn btn-sm btn-default pull-right" ng-click="model2kevs()">Convert current model to KevScript</button>
				</legend>
				<div class="kevscript-editor" ui-codemirror="{onLoad: editorLoaded}" ui-codemirror-opts="editorOptions" ng-model="kevscript"></div>
				<div class="kevscript-editor-buttons">
					<button class="btn btn-default" ng-click="merge()" ng-disabled="!isMergeable()">{{ processing ? 'Merging' : 'Merge' }}</button>
				</div>
				<div class="kevscript-editor-logs">
					<div ng-switch="editorState">
						<div class="text-muted" ng-switch-when="typing">
							<i class="fa fa-keyboard-o"></i> Typing...
						</div>
						<div class="text-muted" ng-switch-when="linting">
							<i class="fa fa-hourglass-half"></i> Linting...
						</div>
						<div ng-switch-when="idle">
							<div class="text-success" ng-if="!error">
								<i class="fa fa-check"></i> No errors
							</div>
							<div class="text-danger" ng-if="error">
								<i class="fa fa-times"></i> <strong>Error</strong>: {{ error.message }}
							</div>
							<div class="text-success" ng-if="lintWarnings.length === 0">
								<i class="fa fa-check"></i> No warnings
							</div>
							<div class="text-warning" ng-if="lintWarnings.length > 0">
								<i class="fa fa-warning"></i> {{ lintWarnings.length + ' warning' + (lintWarnings.length > 1 ? 's':'') }}
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>
<input id="kevscript-upload" type="file" class="hide" ng-model="kevscriptFile" on-data="onFileLoaded($name, $data)">
<script type="text/x-mustache-template" id="kevscript-hint-popup">
	<div class="hint-primary">
		<div class="hint-anchor {{type}}">{{typeText}}</div>
		<div class="hint-text">{{text}}</div>
	</div>
	{{#desc}}
	<div class="hint-secondary">
		{{desc}}
	</div>
	{{/desc}}
</script>
