<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="modal-title" class="modal-title">Help - Kevoree Web Editor v{{version}}</h4>
</div>
<div id="modal-body" class="modal-body">
    <div class="row-fluid">
        <h4><strong>Feedback:</strong></h4>
        <p>Do not hesitate to report issues <a href="https://github.com/kevoree/kevoree-web-editor/issues/new" target="_blank">here</a></p>
        <br/>
    </div>
    <div class="row-fluid">
        <h4><strong>Tips:</strong></h4>
        <p>- <strong>Move</strong> the whole editor stage by <em>drag'n'dropping</em> the grey background.</p>
        <p>- <strong>Zoom in and out</strong> by using your mouse wheel.</p>
        <p>- <strong>Reset</strong> "move" and "zoom" states to default by <em>double-clicking</em> the grey background.</p>
        <p>- <strong>Select multiple instances</strong> by holding <em>Ctrl</em> and <em>click</em> on a shape.</p>
        <br/>
    </div>
    <div class="row-fluid">
        <h4><strong>Model Editor:</strong></h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Action</th>
                <th>Shortcut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Close a modal</td>
                <td>Esc</td>
            </tr>
            <tr>
                <td>Load model</td>
                <td>Ctrl + l</td>
            </tr>
            <tr>
                <td>Merge model</td>
                <td>Ctrl + m</td>
            </tr>
            <tr>
                <td>Open model</td>
                <td>Ctrl + o</td>
            </tr>
            <tr>
                <td>Merge from node</td>
                <td>Ctrl + Shit + m</td>
            </tr>
            <tr>
                <td>Save model</td>
                <td>Ctrl + s</td>
            </tr>
            <tr>
                <td>Undo</td>
                <td>Ctrl + z</td>
            </tr>
            <tr>
                <td>Redo</td>
                <td>Ctrl + y</td>
            </tr>
            <tr>
                <td>Open KevScript</td>
                <td>Ctrl + k</td>
            </tr>
            <tr>
                <td>Open help</td>
                <td>Ctrl + h</td>
            </tr>
            <tr>
                <td>Select instance</td>
                <td>Ctrl + &lt;click&gt;</td>
            </tr>
            <tr>
                <td>Open settings</td>
                <td>Alt + s</td>
            </tr>
            <tr>
                <td>Clear all</td>
                <td>Alt + a</td>
            </tr>
            <tr>
                <td>Clear instances</td>
                <td>Alt + i</td>
            </tr>
            <tr>
                <td>Clear unused type definition</td>
                <td>Alt + u</td>
            </tr>
            <tr>
                <td>Open Kevoree Std Libraries</td>
                <td>Alt + k</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row-fluid">
        <h4><strong>Kevscript Editor:</strong></h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Action</th>
                <th>Shortcut</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Start searching</td>
                <td>Ctrl + f</td>
            </tr>
            <tr>
                <td>Find next</td>
                <td>Ctrl + g</td>
            </tr>
            <tr>
                <td>Find previous</td>
                <td>Shift + Ctrl + g</td>
            </tr>
            <tr>
                <td>Replace</td>
                <td>Shift + Ctrl + f</td>
            </tr>
            <tr>
                <td>Replace all</td>
                <td>Shift + Ctrl + r</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>