<div class="form-horizontal">
    <div class="form-group">
        <label for="instance-version" class="col-sm-3 control-label">Version</label>
        <div class="col-sm-9">
            <select id="instance-version" class="form-control input-sm">
                {{#versions}}
                <option {{selected}}>{{version}}</option>
                {{/versions}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="instance-name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control input-sm mousetrap" id="instance-name" placeholder="Specify a name" value="{{name}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Instance state</label>
        <div class="col-sm-9">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-sm btn-default{{#started}} active{{/started}}">
                    <input type="radio" name="options" id="start-instance"> Started
                </label>
                <label class="btn btn-sm btn-default{{^started}} active{{/started}}">
                    <input type="radio" name="options" id="stop-instance"> Stopped
                </label>
            </div>
        </div>
    </div>
    {{#dictionary}}
    <div class="form-group">
        <label for="dic-{{name}}" class="col-sm-3 control-label">{{name}}</label>
        <div class="col-sm-9">
            <input type="text" class="form-control input-sm mousetrap" id="dic-{{name}}" value="{{value}}">
        </div>
    </div>
    {{/dictionary}}
</div>