<div class="form-horizontal">
    <div class="form-group">
        <label for="instance-version" class="col-sm-3 control-label">Version</label>
        <div class="col-sm-9">
            <select id="instance-version" class="form-control">
                {{#versions}}
                <option {{selected}}>{{version}}</option>
                {{/versions}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="instance-name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control mousetrap" id="instance-name" placeholder="Specify a name" value="{{name}}">
        </div>
    </div>
    {{#dictionary}}
    <div class="form-group">
        <label for="dic-{{name}}" class="col-sm-3 control-label">{{name}}</label>
        <div class="col-sm-9">
            <input type="text" class="form-control mousetrap" id="dic-{{name}}" value="{{value}}">
        </div>
    </div>
    {{/dictionary}}
</div>