<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="modal-title" class="modal-title">KevScript Editor</h4>
</div>
<div id="modal-body" class="modal-body">
    <div id="modal-error" class="alert alert-danger hide"></div>
    <textarea id="kevscript-editor" class="form-control hide">
// write your Kevscript here :)
include npm:kevoree-node-javascript:latest
        
add node0 : JavascriptNode
</textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button id="modal-save" type="button" class="btn btn-primary">Run</button>
</div>