<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="modal-title" class="modal-title">Node properties: {{name}}</h4>
</div>
<div id="modal-body" class="modal-body">
    <div id="modal-error" class="alert alert-danger hide"></div>
    <div id="modal-success" class="alert alert-success hide"></div>
    {{> instanceProps}}
    <div class="panel-group">
        <div class="panel panel-default">
            <div id="node-net-infos-heading" class="panel-heading" data-toggle="collapse" data-target="#node-net-infos">
                <h4 class="panel-title">Network information<span class="glyphicon glyphicon-plus pull-right"></span></h4>
            </div>
            <div id="node-net-infos" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row-fluid">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-tabs-sm">
                            {{#netInfos}}
                            <li class="net-info-tab{{#first}} active{{/first}}"><a href="#{{netName}}" data-toggle="tab">{{netName}}</a></li>
                            {{/netInfos}}
                            <div class="btn-group btn-group-xs pull-right">
                                <button id="del-network" type="button" class="btn btn-danger" title="Remove selected network"><span class="glyphicon glyphicon-trash"></span></button>
                                <button id="add-network" type="button" class="btn btn-primary" title="Add new network"><span class="glyphicon glyphicon-plus-sign"></span></button>
                            </div>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            {{#netInfos}}
                            <div class="tab-pane net-info-tab-content clearfix{{#first}} active{{/first}}" id="{{netName}}">
                                <div class="form-horizontal">
                                    <!-- Network info name -->
                                    <div class="row">
                                        <div class="col-xs-10 col-xs-offset-1">
                                            <label for="net-info-{{netName}}" class="col-sm-4 control-label input-sm">NetworkInfo name</label>
                                            <div class="col-sm-8">
                                                <input type="text" class="form-control input-sm" id="net-info-{{netName}}" placeholder="Name: ip, bluetooth, etc." value="{{netName}}">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Network properties list -->
                                    <div id="net-props-list">
                                        <div class="header">
                                            Network properties:
                                            <div class="btn-group btn-group-xs pull-right">
                                                <button id="del-net-prop-{{netName}}" type="button" class="btn btn-danger" title="Remove selected property"><span class="glyphicon glyphicon-trash"></span></button>
                                                <button id="add-net-prop-{{netName}}" type="button" class="btn btn-primary" title="Add new property"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                            </div>
                                        </div>
                                        <div class="form-horizontal net-prop-pairs">
                                            {{#values}}
                                            <div class="net-prop row-fluid clearfix{{#first}} ui-selected{{/first}}" data-net-info="{{netName}}" data-prop-name="{{name}}">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control input-sm net-prop-name" id="net-prop-{{netName}}-{{name}}" placeholder="Name: ip, bluetooth, etc." value="{{name}}">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control input-sm net-prop-value" id="net-prop-{{netName}}-{{name}}-value" placeholder="Name: 127.0.0.1" value="{{value}}">
                                                </div>
                                            </div>
                                            {{/values}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/netInfos}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push-pull-panel" class="row">
        <fieldset {{#groupsDisabled}}disabled title="No connected group instance found."{{/groupsDisabled}}>
        <button id="push-to-node" class="btn btn-black col-sm-3 col-xs-12" type="button">Push</button>
        <div class="col-sm-4 col-sm-offset-1 col-xs-12" style="padding: 0">
            <select id="node-group" class="form-control mousetrap">
                {{#groups}}
                <option>{{.}}</option>
                {{/groups}}
            </select>
        </div>
        <button id="pull-from-node" class="btn btn-black col-sm-3 col-sm-offset-1 col-xs-12" type="button">Pull</button>
        </fieldset>
    </div>
</div>
<div class="modal-footer">
    <button id="delete-instance" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
    <button id="modal-save" type="button" class="btn btn-primary">Save changes</button>
</div>