<div class="package-group list-group">
    <div class="list-group-item package-item" data-fqn="{{fqn}}">
        <span class="glyphicon glyphicon-minus"></span>
        <span class="package-name">{{name}}</span>
    </div>
</div>