<div class="package-group list-group">
    <div class="list-group-item package-item" data-fqn="{{fqn}}">
        <div class="row">
            <span class="glyphicon glyphicon-minus col-xs-1"></span>
            <span class="package-name col-xs-11" title="{{name}}">{{name}}</span>
        </div>
    </div>
</div>