<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 id="modal-title" class="modal-title">Kevoree Standard Libraries @ <strong>{{host}}:{{port}}{{prefix}}</strong></h4>
</div>
<div id="modal-body" class="modal-body">
    <p id="modal-error" class="alert alert-danger hide"></p>
    <ul class="nav nav-tabs">
        {{#libraries}}
        <li class="{{#first}} active{{/first}}"><a href="#{{name}}" class="std-platform-tab" data-toggle="tab" style="padding: 6px 10px">{{name}}</a></li>
        {{/libraries}}
        <li>
            <div class="input-group input-group-sm">
                <input id="keyword-std-libs-filter" type="text" class="form-control" placeholder="Filter libraries">
                <div class="input-group-btn">
                    <button id="filter-std-libs" type="button" class="btn btn-default" tabindex="-1"><span class="glyphicon glyphicon-search"></span></button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                        <span class="caret"></span>
                        <span class="sr-only">Filter versions</span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li id="filter-std-libs-all" ><a href="#">All</a></li>
                        <li id="filter-std-libs-release" class="active"><a href="#">Release</a></li>
                        <li id="filter-std-libs-snapshots" ><a href="#">Snapshots</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>

    <div class="tab-content">
        {{#libraries}}
        <div class="tab-pane{{#first}} active{{/first}}" id="{{name}}">
            <div id="{{name}}-loading" class="std-libs-pane">
                <p class="text"><strong>{{name}}</strong> libraries are loading, please wait...</p>
                <div class="progress progress-striped active">
                    <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        {{/libraries}}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button id="modal-save" type="button" class="btn btn-primary">Merge libraries</button>
</div>