<div class="list-group-item type-definition-item">
    <span class="typedef-name" data-tdef="{{type}}" data-fqn="{{fqn}}">{{name}}</span>
    {{#count}}
    <span class="badge" data-tdef="{{type}}">{{count}}</span>
    {{/count}}
</div>