<!-- <div class="panel-group">
  <div class="panel panel-default" data-ng-repeat="item in items">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-ng-click="item.isCollapsed = !item.isCollapsed">
          <span>{{ item.name }}</span>
          <i class="fa pull-right" ng-class="item.isCollapsed ? 'fa-plus':'fa-minus'"></i>
        </a>
      </h4>
    </div>
    <div data-collapse="item.isCollapsed">
      <hljs data-hljs-language="json" data-hljs-source="beautify(item)"></hljs>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-xs-12">
    <fieldset>
      <legend>Browse the model</legend>
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Path</span>
          <input type="text" class="form-control" ng-model="path" ng-change="onPathChanged()" placeholder="eg. /nodes[*]/components[ticker]"/>
          <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Queries
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="" ng-click="setPath('nodes[]')">Nodes</a></li>
              <li><a href="" ng-click="setPath('groups[]')">Groups</a></li>
              <li><a href="" ng-click="setPath('channels[]')">Channels</a></li>
              <li><a href="" ng-click="setPath('nodes[]/components[]')">Components</a></li>
              <li class="divider"></li>
              <li><a href="" ng-click="setPath('**/metaData[name=kwe_selected,value=true]')">Selection</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-group">
        <div class="panel panel-default" data-ng-repeat="elem in elems">
          <div class="panel-heading" style="padding: 5px 8px">
            <h4 class="panel-title">
              <a role="button" data-ng-click="elem.isCollapsed = !elem.isCollapsed">
                <span style="font-size: 12px">{{ elem.path }}</span>
                <i class="fa pull-right" ng-class="elem.isCollapsed ? 'fa-plus':'fa-minus'"></i>
              </a>
            </h4>
          </div>
          <div data-collapse="elem.isCollapsed">
            <hljs data-hljs-language="json" data-hljs-source="elem.content"></hljs>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
