<div class="row">
  <div class="col-md-6">
    <fieldset>
      <legend>Instances overview</legend>
      <canvas
          class="chart chart-doughnut"
          chart-data="instancesData"
          chart-labels="typeDefs"
          chart-legend="true"
          chart-colours="[ '#5b5b5b', '#0d0d0d', '#399342', '#d57129' ]">
      </canvas>
    </fieldset>
  </div>
  <div class="col-md-6">
    <fieldset>
      <legend>Select instances by tags</legend>
      <div ng-if="tags.length === 0">
        <p>There is no tag in the model.</p>
        <p><em>To add tags, select instances in the left panel and go to the <strong>Tags</strong> tabs.</em></p>
      </div>
      <a href="" ng-click="onTagClicked(tag)" ng-repeat="tag in tags" style="text-decoration: none;">
        <span class="tag badge">
          <span>{{ tag }}</span>
        </span>
      </a>
    </fieldset>
  </div>
</div>
