<div class="row">
  <div class="col-md-6">
    <fieldset>
      <legend>Instances overview</legend>
      <canvas
          class="chart chart-doughnut"
          chart-data="instancesData"
          chart-labels="typeDefs"
          chart-legend="true"
          chart-colours="[ '#5b5b5b', '#0d0d0d', '#399342', '#d57129' ]">
      </canvas>
    </fieldset>
  </div>
  <div class="col-md-6">
    <fieldset>
      <legend>Select instances by tags</legend>
      <div ng-if="tags.length === 0">
        <p>There is no tag in the model.</p>
        <p><em>To add tags, select instances in the left panel and go to the <strong>Tags</strong> tab.</em></p>
      </div>
      <a href="" ng-click="onTagClicked(instances)" ng-repeat="(tag, instances) in tags" style="text-decoration: none;">
        <span class="tag badge">
          <span>{{ tag }}</span>
        </span>
      </a>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <fieldset>
      <legend>Browse the model</legend>
      <div class="form-group">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">Path</span>
          <input type="text" class="form-control" ng-model="path" ng-change="onPathChanged()" placeholder="eg. /nodes[*]/components[ticker]"/>
        </div>
      </div>
      <div class="panel-group">
        <div class="panel panel-default" data-ng-repeat="elem in elems">
          <div class="panel-heading" style="padding: 5px 8px">
            <h4 class="panel-title">
              <a role="button" data-ng-click="elem.isCollapsed = !elem.isCollapsed">
                <span style="font-size: 12px">{{ elem.path }}</span>
                <i class="fa pull-right" ng-class="elem.isCollapsed ? 'fa-plus':'fa-minus'"></i>
              </a>
            </h4>
          </div>
          <div data-collapse="elem.isCollapsed">
            <hljs data-hljs-language="json" data-hljs-source="elem.content"></hljs>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
