<div class="list-group no-margin">
  <div ng-repeat="du in $ctrl.dus" class="deploy-unit list-group-item">
      <i class="icon {{ 'devicon-' + $ctrl.platform(du) + '-plain' }} colored" title="{{$ctrl.platform(du)}}"></i>
      <span class="name">
        <span>{{ du.name }}</span>
        <a href="{{ $ctrl.baseUrl + '#/dus/' + du.id }}" target="_blank" class="value" ng-if="du.id">#{{ du.id }}</a>
        <span class="error" ng-if="du.error">
          <i
            class="glyphicon glyphicon-warning-sign"
            uib-tooltip="{{ du.error }}"
            tooltip-trigger="'mouseenter'"
            tooltip-placement="right"></i>
        </span>
      </span>
      <br />
      <span class="version">{{ du.version }}</span>
  </div>
</div>
