div.row-fluid.network-property-row(data-net-prop-id=id)
  div.row-fluid
    div.control-group.span3
      input(id='network-property-key-'+link.id+'-'+id, type='text', placeholder='IP', value=key)
    div.control-group.span7.offset2
      input(id='network-property-val-'+link.id+'-'+id, type='text', placeholder='192.168.0.1', value=value)
  div.row-fluid.hide(id='network-property-err-'+link.id+'-'+id)
    small.text-error