//- WARNING: remember to compile this .jade template each time you made a change using:
    jade-amd --from views/templates --to public/js/app/templates
    otherwise your pre-compiled Javascript template in public/js/app/templates won't be up-to-date

div.row-fluid
  div.span4 Reachable from
    | &nbsp
    i.icon-info-sign(title='Minimum selected = 1')
  select#initby-nodes(multiple='multiple')
    each node in initBy
      option.initby-node(value=node.name, selected=(node.selected)?'selected':null) #{node.name}

  div#node-links-container.well
    ul#node-links-tabs.nav.nav-tabs
      li.pull-right
        div.btn-group
          button#node-link-delete.btn.btn-danger.disabled
            i.icon-trash.icon-white
          button#node-link-add.btn.btn-info
            i.icon-plus.icon-white
      each link in nodeLinks
        != link.tabHTML

    div#node-links-contents.tab-content
      each link in nodeLinks
        != link.contentHTML

  div.row-fluid
    button#node-push-action.btn.btn-inverse.span4(type='button', class=(groups.length == 0)?'disabled':null) Push
    div.span4
      select#node-group-action.row-fluid
        each group in groups
          option(value=group) #{group}
    button#node-pull-action.btn.btn-inverse.span4(type='button', class=(groups.length == 0)?'disabled':null) Pull

  div#node-push-pull-error.text-error.hide
  div#node-progress-bar.progress.progress-info.progress-stripped.active.row-fluid.hide
    div.bar
