<div class="tab-container" ng-cloak>
  <div class="col-md-4 col-lg-3 fit-y">
    <div class="well fit-y">
      <div class="row clearfix">
        <div class="col-xs-12">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Filter by name, tag, type, version" ng-model="filterExpr">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="filterExpr = ''" title="Clear filter" ng-disabled="!filterExpr.length">
                <i class="fa fa-times"></i>
              </button>
            </span>
          </div>
          <div class="checkbox checkbox-sm">
            <label>
              <input type="checkbox" ng-model="filterComparator"> Strict matching
            </label>
          </div>
        </div>
      </div>
      <div class="treeview-actions row clearfix">
        <div class="col-xs-12">
          <a href="" class="treeview-action" ng-click="collapse()" title="Collapse">
            <i class="fa fa-compress"></i>
          </a>
          <a href="" class="treeview-action" ng-click="expand()" title="Expand">
            <i class="fa fa-expand"></i>
          </a>
          <a href="" class="treeview-action" ng-click="toggleTags()" title="{{ showTags ? 'Hide tags':'Show tags' }}">
            <i class="fa" ng-class="showTags ? 'fa-eye-slash':'fa-eye'"></i>
          </a>
          <a href="" class="treeview-action" ng-click="reverseSort()" title="{{ showTags ? 'Sort desc':'Sort asc' }}">
            <i class="fa" ng-class="treeReverse ? 'fa-sort-alpha-desc':'fa-sort-alpha-asc'"></i>
          </a>
        </div>
        <div class="col-xs-12">
          <a href="" class="treeview-action" ng-click="selectAll()" title="Select all">All</a>
          <a href="" class="treeview-action" ng-click="selectNodes()" title="Select nodes">N</a>
          <a href="" class="treeview-action" ng-click="selectComponents()" title="Select components">C</a>
          <a href="" class="treeview-action" ng-click="selectGroups()" title="Select groups">G</a>
          <a href="" class="treeview-action" ng-click="selectChannels()" title="Select channels">Ch</a>
          <a href="" class="treeview-action" ng-click="clearSelected()" title="Clear selection">
            <i class="fa fa-square-o"></i>
          </a>
          <span class="pull-right" title="selection / nb instances">{{ selectedItems.length + '/' + nbInstances }} </span>
        </div>
      </div>
      <div class="fit-y">
        <div class="treecontrol-container">
          <div class="treecontrol-inner-container">
            <em data-ng-if="items.length === 0">No instance in current model</em>
            <ul class="list-unstyled tree">
              <li
                  class="item"
                  ng-repeat="item in items | filter:filterExpr:filterComparator | orderBy:'name':treeReverse"
                  ng-class="{ selected: item.selected, expanded: !item.folded }">
                <span class="icon {{ item.type }}">
                  <i
                      class="expand-handle fa"
                      ng-class="!item.folded ? 'fa-minus':'fa-plus'"
                      ng-if="item.children && item.children.length > 0"
                      ng-click="onExpand(item)"></i>
                </span>
                <div
                    class="name"
                    ng-click="onClick(item)"
                    ng-mouseenter="item.hovered = true"
                    ng-mouseleave="item.hovered = false">
                  <span>{{ item.name }}</span>
                  <em
                      class="text-muted"
                      ng-class="{ hide: !item.hovered }">{{ item.typeName + '/' + item.version }}</em>
                  <span
                      class="tag badge pull-right"
                      ng-repeat="tag in item.tags"
                      ng-if="showTags && item.tags.length < 3">{{ tag }}</span>
                  <span
                      class="tag badge pull-right"
                      ng-if="showTags && item.tags.length >= 3"
                      tooltip="tags: {{ item.tags.join(', ') }}"
                      tooltip-placement="right"
                      tooltip-append-to-body="true">...</span>
                </div>
                <ul class="list-unstyled tree" ng-if="!item.folded">
                  <li
                      class="item"
                      ng-repeat="child in item.children | filter:filterExpr:filterComparator | orderBy:'name':treeReverse"
                      ng-class="child.selected ? 'selected':''">
                    <span class="icon {{ child.type }}"></span>
                    <div
                        class="name"
                        ng-click="onClick(child)"
                        ng-mouseenter="child.hovered = true"
                        ng-mouseleave="child.hovered = false">
                      <span>{{ child.name }}</span>
                      <em
                          class="text-muted"
                          ng-class="{ hide: !child.hovered }">{{ child.typeName + '/' + child.version }}</em>
                      <span
                          class="tag badge pull-right"
                          ng-repeat="tag in child.tags"
                          ng-if="showTags && child.tags.length < 3">{{ tag }}</span>
                      <span
                          class="tag badge pull-right"
                          ng-if="showTags && child.tags.length >= 3"
                          tooltip="tags: {{ child.tags.join(', ') }}"
                          tooltip-placement="right"
                          tooltip-append-to-body="true">...</span>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="treeview-rightpanel col-md-8 col-lg-9 fit-y">
    <tabset class="tab-set" active="0">
      <tab index="0" heading="Model">
        <div class="tab-pane-container well">
          <tab-model items="items" on-tag-clicked="selectByTag"></tab-model>
        </div>
      </tab>
      <tab index="1" heading="Create">
        <div class="tab-pane-container well">
          <tab-create></tab-create>
        </div>
      </tab>
      <tab index="2" heading="Params" ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-params items="selectedItems"></tab-params>
        </div>
      </tab>
      <tab index="3" heading="Tags" ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-tags items="selectedItems"></tab-tags>
        </div>
      </tab>
      <tab index="4" heading="KevScript" select="$broadcast('treeview:tab:kevs')" ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-kevs items="selectedItems"></tab-kevs>
        </div>
      </tab>
    </tabset>
  </div>
</div>
