<div class="tab-container" data-ng-cloak>
  <div class="col-md-4 col-lg-3 fit-y">
    <div class="well fit-y">
      <div class="row clearfix">
        <div class="col-xs-12">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" placeholder="Filter by name, tag, type, version" ng-model="filterExpr">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" data-ng-click="filterExpr = ''" title="Clear filter" ng-disabled="!filterExpr.length">
                <i class="fa fa-times"></i>
              </button>
            </span>
          </div>
          <div class="checkbox checkbox-sm">
            <label>
              <input type="checkbox" ng-model="filterComparator"> Strict matching
            </label>
          </div>
        </div>
      </div>
      <div class="treeview-actions row clearfix">
        <div class="col-xs-12">
          <a href="" class="treeview-action" data-ng-click="collapse()" title="Collapse">
            <i class="fa fa-compress"></i>
          </a>
          <a href="" class="treeview-action" data-ng-click="expand()" title="Expand">
            <i class="fa fa-expand"></i>
          </a>
          <a href="" class="treeview-action" data-ng-click="toggleTags()" title="{{ showTags ? 'Hide tags':'Show tags' }}">
            <i class="fa" ng-class="showTags ? 'fa-eye-slash':'fa-eye'"></i>
          </a>
          <a href="" class="treeview-action" data-ng-click="reverseSort()" title="{{ showTags ? 'Sort desc':'Sort asc' }}">
            <i class="fa" ng-class="treeReverse ? 'fa-sort-alpha-desc':'fa-sort-alpha-asc'"></i>
          </a>
        </div>
        <div class="col-xs-12">
          <a href="" class="treeview-action" data-ng-click="selectNodes()" title="Select nodes">N</a>
          <a href="" class="treeview-action" data-ng-click="selectComponents()" title="Select components">C</a>
          <a href="" class="treeview-action" data-ng-click="selectGroups()" title="Select groups">G</a>
          <a href="" class="treeview-action" data-ng-click="selectChannels()" title="Select channels">Ch</a>
          <a href="" class="treeview-action" data-ng-click="clearSelected()" title="Clear selected">
            <i class="fa fa-square-o"></i>
          </a>
          <span class="pull-right">{{ selectedItems.length + '/' + nbInstances }} </span>
        </div>
      </div>
      <div class="fit-y">
        <div class="treecontrol-container">
          <div class="treecontrol-inner-container">
            <em data-ng-if="tree.length === 0">No instance in current model</em>
            <treecontrol
                class="tree-classic"
                tree-model="tree"
                selected-nodes="selectedItems"
                expanded-nodes="expandedItems"
                filter-expression="filterExpr"
                filter-comparator="filterComparator"
                order-by="treeOrderBy"
                reverse-order="{{treeReverse}}"
                options="treeOptions">
              <span title="{{ node.typeName + ' - ' + node.version }}">{{ node.name }}</span>
              <span class="tag badge pull-right" ng-repeat="tag in node.tags" ng-if="showTags">{{ tag }}</span>
            </treecontrol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="treeview-rightpanel col-md-8 col-lg-9 fit-y">
    <tabset class="tab-set" active="0">
      <tab index="0" heading="Model">
        <div class="tab-pane-container well">
          <tab-model items="tree" on-tag-clicked="selectByTag"></tab-model>
        </div>
      </tab>
      <tab index="1" heading="Params" data-ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-params items="selectedItems"></tab-params>
        </div>
      </tab>
      <tab index="2" heading="Tags" data-ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-tags items="selectedItems"></tab-tags>
        </div>
      </tab>
      <tab index="3" heading="JSON" data-ng-if="selectedItems.length">
        <div class="tab-pane-container well">
          <tab-json items="selectedItems"></tab-json>
        </div>
      </tab>
    </tabset>
  </div>
</div>
