<div class="sidebar sidebar-right" data-ng-show="instance">
    <!-- Main information panel -->
    <div data-ng-class="type+'-right-bg'">
        <h5 class="sidebar-header sidebar-header-right text-capitalize point-cursor" data-ng-click="mainCollapsed = !mainCollapsed">
            <i class="fa" data-ng-class="mainCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;{{ instance.typeDefinition.name }}
        </h5>
    </div>
    <div class="instance-form" data-collapse="mainCollapsed">
        <div class="form-group">
            <label for="version">Version</label>
            <select
                    id="version"
                    class="form-control input-sm"
                    data-ng-model="selectedVersion"
                    data-ng-change="changeVersion(selectedVersion)"
                    data-ng-options="index as value for (index, value) in versions">
            </select>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control input-sm" id="name" placeholder="Instance name" data-ng-model="instance.name">
        </div>
        <div class="form-group clearfix">
            <label>State</label>
            <div class="btn-group btn-group-block">
                <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="true">Started</label>
                <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="false">Stopped</label>
            </div>
        </div>
    </div>

    <!-- Dictionary panel -->
    <div data-ng-class="type+'-right-bg'" data-ng-show="instance.dictionary.values.size() > 0">
        <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="dicCollapsed = !dicCollapsed">
            <i class="fa" data-ng-class="dicCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;Dictionary
        </h5>
    </div>
    <div class="instance-form" data-collapse="dicCollapsed">
        <div class="form-group" data-ng-repeat="(index, attr) in dicAttrs">
            <label for="attr{{index}}">{{ attr.name + (isTruish(attr.optional) ? '':' *') }}</label>
            <input type="text" class="form-control input-sm" id="attr{{index}}" data-ng-model="(instance.dictionary.findValuesByID(attr.name)).value">
        </div>
    </div>

    <!-- Fragment Dictionary panels -->
    <div data-ng-repeat="fragDic in instance.fragmentDictionary.array">
        <div data-ng-class="type+'-right-bg'">
            <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="fragCollapsed[fragDic.name] = !fragCollapsed[fragDic.name]">
                <i class="fa" data-ng-class="fragCollapsed[fragDic.name] ? 'fa-plus':'fa-minus'"></i>
                &nbsp;Fragment Dictionary - <strong>{{ fragDic.name }}</strong>
            </h5>
        </div>
        <div class="instance-form" data-collapse="fragCollapsed[fragDic.name]">
            <div data-ng-hide="fragDic.values.size() > 0">
                <p class="text-muted"><em>No value</em> - <a href="#" data-ng-click="fragDic.delete()">Delete dictionary?</a></p>
            </div>
            <div class="form-group" data-ng-repeat="(index, attr) in fragDicAttrs">
                <label for="attr{{index}}-{{fragDic.name}}">{{ attr.name }}</label>
                <input type="text" class="form-control input-sm" id="attr{{index}}-{{fragDic.name}}" data-ng-model="(fragDic.findValuesByID(attr.name)).value">
            </div>
        </div>
    </div>
</div>