<div class="sidebar sidebar-right sidebar-right-{{type}}" data-ng-if="instance">
    <!-- Main information panel -->
    <div data-ng-class="type+'-right-bg'">
        <h5 class="sidebar-header sidebar-header-right text-capitalize point-cursor" data-ng-click="mainCollapsed = !mainCollapsed">
            <i class="fa" data-ng-class="mainCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;{{ instance.typeDefinition.name }}
        </h5>
    </div>
    <div class="instance-form" data-collapse="mainCollapsed">
        <form name="form">
            <div class="form-group">
                <label for="version">Version</label>
                <select
                        id="version"
                        class="form-control input-sm"
                        data-ng-model="selectedVersion"
                        data-ng-change="changeVersion(selectedVersion)">
                    <option value="{{ version }}" data-ng-repeat="(index, version) in versions | semverReverseSort" data-ng-selected="version === selectedVersion">{{ version }}</option>
                </select>
            </div>
            <div class="form-group" data-ng-class="form.name.$valid ? '':'has-error has-feedback'">
                <label for="name">Name</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        class="form-control input-sm"
                        placeholder="Instance name"
                        data-ng-model="instance.name"
                        required>
                <span class="glyphicon glyphicon-remove form-control-feedback" data-ng-hide="form.name.$valid"></span>
            </div>
            <div class="form-group clearfix">
                <label>State</label>
                <div class="btn-group btn-group-block">
                    <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="true">Started</label>
                    <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="false">Stopped</label>
                </div>
            </div>
        </form>
    </div>

    <div data-ng-switch="processing">
        <div data-ng-switch-when="true">
            <div class="instance-form">
                <h4 class="text-center">Loading</h4>
                <div class="spinner spinner-white">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                </div>
            </div>
        </div>
        <div data-ng-switch-when="false">
            <!-- Dictionary panel -->
            <div data-ng-show="instance.dictionary.values.size() > 0">
                <div data-ng-class="type+'-right-bg'">
                    <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="dicCollapsed = !dicCollapsed">
                        <i class="fa" data-ng-class="dicCollapsed ? 'fa-plus':'fa-minus'"></i>
                        &nbsp;Dictionary
                    </h5>
                </div>
                <div data-collapse="dicCollapsed">
                    <kdic data-name="'dicForm'" data-attrs="dicAttrs" data-dictionary="instance.dictionary"  data-fragment="false"></kdic>
                </div>
            </div>

            <!-- Fragment Dictionary panels -->
            <div data-ng-repeat="fragDic in instance.fragmentDictionary.array">
                <div data-ng-class="type+'-right-bg'">
                    <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="fragCollapsed[fragDic.name] = !fragCollapsed[fragDic.name]">
                        <i class="fa" data-ng-class="fragCollapsed[fragDic.name] ? 'fa-plus':'fa-minus'"></i>
                        &nbsp;Fragment Dictionary - <strong>{{ fragDic.name }}</strong>
                    </h5>
                </div>
                <div data-collapse="fragCollapsed[fragDic.name]">
                    <kdic data-name="fragDic.name" data-attrs="fragDicAttrs" data-dictionary="fragDic"  data-fragment="true"></kdic>
                </div>
            </div>

            <!-- Network panel -->
            <div data-ng-show="hasNetworkInformation()">
                <div data-ng-repeat="net in instance.networkInformation.array">
                    <div data-ng-class="type+'-right-bg'">
                        <h5 class="sidebar-header sidebar-header-right point-cursor clearfix" data-ng-click="netCollapsed = !netCollapsed">
                            <i class="fa" data-ng-class="netCollapsed ? 'fa-plus':'fa-minus'"></i>
                            &nbsp;Network Informations - <strong>{{ net.name }}</strong>
                            <a href="#" class="pull-right" data-ng-click="manageNetwork($event, net)"><i class="fa fa-cog"></i></a>
                        </h5>
                    </div>
                    <div data-collapse="netCollapsed">
                        <div class="instance-form">
                            <div class="form-group" data-ng-repeat="val in net.values.array | orderBy:'name'">
                                <label for="net-{{ net.name + '-' + val.name }}">{{ val.name }}</label>
                                <input
                                        id="net-{{ net.name + '-' + val.name }}"
                                        name="net-{{ net.name + '-' + val.name }}"
                                        type="text"
                                        class="form-control input-sm"
                                        data-ng-model="val.value">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="instance-form">
                    <a href="#" data-ng-click="addNetwork()">Add new network</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sidebar sidebar-right sidebar-right-footer" data-ng-if="instance && (type === 'group')">
    <div class="push-pull-container">
        <button class="btn btn-default k-btn btn-push" data-ng-click="push()" data-ng-disabled="instance.subNodes.size() === 0" title="Ctrl-Shift-P">Push</button>
        <button class="btn btn-default k-btn btn-pull" data-ng-click="pull()" data-ng-disabled="instance.subNodes.size() === 0" title="Ctrl-Shift-L">Pull</button>
    </div>
</div>
