<div class="sidebar sidebar-right" data-ng-show="instance">
    <!-- Main information panel -->
    <div data-ng-class="type+'-right-bg'">
        <h5 class="sidebar-header sidebar-header-right text-capitalize point-cursor" data-ng-click="mainCollapsed = !mainCollapsed">
            <i class="fa" data-ng-class="mainCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;{{ instance.typeDefinition.name }}
        </h5>
    </div>
    <form name="form" class="instance-form" data-collapse="mainCollapsed">
        <div class="form-group">
            <label for="version">Version</label>
            <select
                    id="version"
                    class="form-control input-sm"
                    data-ng-model="selectedVersion"
                    data-ng-change="changeVersion(selectedVersion)"
                    data-ng-options="index as value for (index, value) in versions">
            </select>
        </div>
        <div class="form-group" data-ng-class="form.name.$valid ? '':'has-error has-feedback'">
            <label for="name">Name</label>
            <input
                    id="name"
                    name="name"
                    type="text"
                    class="form-control input-sm"
                    placeholder="Instance name"
                    data-ng-model="instance.name"
                    required>
            <span class="glyphicon glyphicon-remove form-control-feedback" data-ng-hide="form.name.$valid"></span>
        </div>
        <div class="form-group clearfix">
            <label>State</label>
            <div class="btn-group btn-group-block">
                <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="true">Started</label>
                <label class="btn btn-sm btn-default" data-ng-model="instance.started" data-btn-radio="false">Stopped</label>
            </div>
        </div>
    </form>

    <!-- Dictionary panel -->
    <div data-ng-class="type+'-right-bg'" data-ng-show="instance.dictionary.values.size() > 0">
        <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="dicCollapsed = !dicCollapsed">
            <i class="fa" data-ng-class="dicCollapsed ? 'fa-plus':'fa-minus'"></i>
            &nbsp;Dictionary
        </h5>
    </div>
    <kdic data-name="'dicForm'" data-attrs="dicAttrs" data-dictionary="instance.dictionary"  data-fragment="false" data-collapse="dicCollapsed"></kdic>

    <!-- Fragment Dictionary panels -->
    <div data-ng-repeat="fragDic in instance.fragmentDictionary.array">
        <div data-ng-class="type+'-right-bg'">
            <h5 class="sidebar-header sidebar-header-right point-cursor" data-ng-click="fragCollapsed[fragDic.name] = !fragCollapsed[fragDic.name]">
                <i class="fa" data-ng-class="fragCollapsed[fragDic.name] ? 'fa-plus':'fa-minus'"></i>
                &nbsp;Fragment Dictionary - <strong>{{ fragDic.name }}</strong>
            </h5>
        </div>
        <kdic data-name="fragDic.name" data-attrs="fragDicAttrs" data-dictionary="fragDic"  data-fragment="true" data-collapse="fragCollapsed[fragDic.name]"></kdic>
    </div>
</div>