<div class="settings-container">
	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 well" ng-cloak>
		<h4>Kevoree Web Editor settings:</h4>
		<ul class="list-group list-group-with-buttons">
			<li class="list-group-item clearfix">
				<div class="col-sm-6">Version</div>
				<div class="col-sm-6">
					<span class="pull-right">{{ VERSION }}</span>
				</div>
			</li>
			<li class="list-group-item clearfix">
				<div class="col-sm-6">Kevoree Registry</div>
				<div class="col-sm-offset-1 col-sm-5 col-lg-offset-2 col-lg-4">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" placeholder="ie. {{ getUrl() }}" ng-model="registryUrl">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="changeKevoreeRegistry()" ng-disabled="!canChangeKevoreeRegistry()">Save</button>
						</span>
					</div>
				</div>
			</li>
			<li class="list-group-item clearfix">
				<div class="col-sm-6">KevScript LocalStorage Cache</div>
				<div class="col-sm-6">
					<button class="btn btn-sm btn-warning pull-right" type="button" ng-click="clearKevScriptCache()" ng-disabled="!canClearKevScriptCache()">Clear</button>
				</div>
			</li>
		</ul>
	</div>

</div>
